@import url("custom-styles.css");

/***********************************************************
  EAJ - Nov 2025: override style of default-template so that
  activities, warms and cools have a box around them
************************************************************/
/* Border + layout for all three */
article.exploration.project-like,
article.project.project-like,
article.activity.project-like {
  border: 3px solid #333;
  border-radius: 8px;
  border-color: var(--goal-like-border-color);
  padding: 1rem;
  margin-top: 2.5rem;
  position: relative; /* needed for the absolute h4 */
}
/* h4 label on top border for all three */
article.exploration.project-like h4,
article.project.project-like h4,
article.activity.project-like h4 {
  position: absolute;
  top: 0;
  left: 1.5rem;
  transform: translateY(-70%);
  margin: 0;
  padding: 0 .5rem;
  background: #fff;
  z-index: 1;
}
